/Recitation1/nbproject/private/
/Recitation1/build/
/Recitation1/dist/
/hw1/build/
/hw1/nbproject/private
/RandomStudentPicker/nbproject/private/
/RandomStudentPicker/build/
/RandomStudentPicker/dist/

/hw1/dist/
/TicTacToe/build/
/TicTacToe/dist/
/TicTacToe/nbproject/private
/RedBoxMan_JavaFX/nbproject/private/
/RedBoxMan_JavaFX/dist/
/RedBoxMan_JavaFX/build/
/RedBoxMan_HTML5/nbproject/private/
/Recitation5/nbproject/private/
/Recitation5/build/
/Recitation5/dist
/TaskDemo/build/
/TaskDemo/dist/
/TaskDemo/nbproject/private/
/BoardGame/build/
/BoardGame/dist/
/BoardGame/nbproject/private/
/ComputeTask/build/
/ComputeTask/dist/
/ComputeTask/nbproject/private/
/DataViLiJ/DataViLiJ/build/
/DataViLiJ/DataViLiJ/nbproject/private/
/JUnit-Sample/nbproject/private/
/JUnit-Sample/build/
/Junit-Sample/dist/
/JunitSampleSol/build/
/JunitSampleSol/dist/
/JunitSampleSol/nbproject/private/

/Words/nbproject/private/
/Words/build/
/Words/dist/
