/Recitation1/nbproject/private/
/Recitation1/build/
/Recitation1/dist/
/hw1/build/
/hw1/nbproject/private
/RandomStudentPicker/nbproject/private/
/RandomStudentPicker/build/
/RandomStudentPicker/dist/

/hw1/dist/
/TicTacToe/build/
/TicTacToe/dist/
/TicTacToe/nbproject/private
/RedBoxMan_JavaFX/nbproject/private/
/RedBoxMan_JavaFX/dist/
/RedBoxMan_JavaFX/build/