/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 23, 2018, 5:09:40 PM
    Author     : neil1
*/

.gray{
	-fx-text-fill: gray;
}

.chart{
	-fx-horizontal-grid-lines-visible: false;
	-fx-vertical-grid-lines-visible: false;
	-fx-vertical-zero-line-visible: false;
	-fx-horizontal-zero-line-visible: false;
}

.chart-series-line{
	-fx-stroke: null;
}

.display-line{
	-fx-stroke: dodgerblue;
}

.hide-symbol{
	-fx-background-color: null;
}

.axis{
	-fx-tick-length: 15px;
	-fx-tick-label-fill: #22313F;
	-fx-minor-tick-length: 8px;
}

.axis-tick-mark{
	-fx-fill: black;
	-fx-stroke: #67809F;
	-fx-stroke-width: 3px;
}

.axis-minor-tick-mark{
	-fx-stroke: black;
	-fx-stroke-width: 1px;
}

.chart-plot-background{
	-fx-border-color: #2574A9;
	-fx-border-width: 5px;
}

.chart-title{
	-fx-text-fill: #2574A9;
  	-fx-font-size: 2em;
	-fx-font-family: 'Georgia';
	-fx-font-weight: normal;
	-fx-alignment: center;
}

.toolbar {
	-fx-background-color: #22313F;
}

.toolbar-button{
	-fx-background-color: #67809F;
}

.toolbar-button:hover{
	-fx-background-color: #E4F1FE;
}