/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 23, 2018, 5:09:40 PM
    Author     : neil1
*/
*{
	-fx-font-family: 'sans-serif';
}

.gray{
	-fx-text-fill: gray;
}

.chart{
	-fx-horizontal-grid-lines-visible: false;
	-fx-vertical-grid-lines-visible: false;
	-fx-vertical-zero-line-visible: false;
	-fx-horizontal-zero-line-visible: false;
}

.chart-series-line{
	-fx-stroke: null;
}

.display-line{
	-fx-stroke: dodgerblue;
}

.hide-symbol{
	-fx-background-color: null;
}

.axis{
	-fx-tick-length: 15px;
	-fx-tick-label-fill: #22313F;
	-fx-minor-tick-length: 8px;
}

.axis-tick-mark{
	-fx-fill: black;
	-fx-stroke: #67809F;
	-fx-stroke-width: 3px;
}

.axis-minor-tick-mark{
	-fx-stroke: black;
	-fx-stroke-width: 1px;
}

.chart-plot-background{
	-fx-border-color: #2574A9;
	-fx-border-width: 5px;
}

.chart-title{
	-fx-text-fill: #2574A9;
  	-fx-font-size: 1.7em;
	-fx-font-weight: normal;
	-fx-alignment: center;
}

.toolbar {
	-fx-background-color: #22313F;
}

.button{
	-fx-background-color: #67809F;
}

.button:hover{
	-fx-background-color: #E4F1FE;
}

.display-info{
	-fx-text-fill: #22313F;
}

.type-container{
	-fx-border-color: #22313F;
	-fx-border-radius: 10px;
}

.types-title{
	-fx-alignment: center;
	-fx-font-weight: bold;
	-fx-font-size: 1.2em;
	-fx-text-fill: #E4F1FE;
	-fx-background-color: #22313F;
	-fx-background-radius: 10 10 0 0;
	-fx-padding: 12;
}

.types-button{
	-fx-font-size: 1.2em;
	-fx-font-weight: bold;
	-fx-border-color: #22313F;
	-fx-padding: 10;
}

.toggle-button{
	-fx-background-radius: 8px;
	-fx-border-radius: 8px;
	-fx-padding:2px;
}

.done{
	-fx-text-fill: #22313F;
}

.edit{

}
